record(bi, "$(P)ECLAB:C$(CHAN):T:$(TECH):$(PARAM)")
{
    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(INP, "@asyn($(PORT),$(CHAN),0)$(TECH)_$(PARAM)")
    field(SCAN, "I/O Intr")
}

record(bo, "$(P)ECLAB:C$(CHAN):T:$(TECH):$(PARAM):SP")
{
    field(DESC, "$(DESC)")
    field(DTYP, "asynInt32")
    field(OUT, "@asyn($(PORT),$(CHAN),0)$(TECH)_$(PARAM)")
}
